Assigments/Oscar/webservice-server/src/main/resources/wsdl/OrdersWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/OrdersWSDLFile/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrdersWSDLFile"
	targetNamespace="http://www.example.org/OrdersWSDLFile/">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.example.org/OrdersWSDLFile/">
			<xsd:complexType name="product">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="price" type="xsd:double" />
					<xsd:element name="quantity" type="xsd:integer" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="customer">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="order">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string" />
					<xsd:element name="product" type="tns:product"
						maxOccurs="unbounded" />
					<xsd:element name="customer" type="tns:customer" />
					<xsd:element name="status" type="tns:status" />
					<xsd:element name="date" type="xsd:date" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="getOrderRequest">
				<xsd:sequence>
					<xsd:element name="orderId" type="xsd:string" />
					<xsd:element name="orderStatus" type="tns:status" />
					<xsd:element name="orderDate" type="xsd:date" />
					<xsd:element name="customerName" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="getOrderResponse">
				<xsd:sequence>
					<xsd:element name="orderId" type="xsd:string" />
					<xsd:element name="orderStatus" type="tns:status" />
					<xsd:element name="orderDate" type="xsd:date" />
					<xsd:element name="customerName" type="xsd:string" />
					<xsd:element name="product" type="tns:product"
						maxOccurs="unbounded" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:simpleType name="status">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="STARTED" />
					<xsd:enumeration value="IN_PROGRESS" />
					<xsd:enumeration value="SHIPPED" />
					<xsd:enumeration value="COMPLETED" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:element name="getOrderRequest"
				type="tns:getOrderRequest" />
			<xsd:element name="getOrderResponse"
				type="tns:getOrderResponse" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getOrderRequest">
		<wsdl:part name="parameters" element="tns:getOrderRequest" />
	</wsdl:message>
	<wsdl:message name="getOrderResponse">
		<wsdl:part name="parameters"  element="tns:getOrderResponse" />
	</wsdl:message>
	<wsdl:portType name="OrdersPortType">
		<wsdl:operation name="getOrder">
			<wsdl:input message="tns:getOrderRequest"
				name="getOrderRequest" />
			<wsdl:output message="tns:getOrderResponse"
				name="getOrderResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OrdersServiceSoapBinding"
		type="tns:OrdersPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="getOrder">
			<soap:operation  style="document" soapAction="" />
			<wsdl:input name="getOrderRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getOrderResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OrdersWSDLFile">
		<wsdl:port binding="tns:OrdersServiceSoapBinding"
			name="OrdersPort">
			<soap:address
				location="http://localhost:8080/webservice-service/services/ordersservice" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
